Repository CodeAnalyzerIS/code-analyzer-tool, pull requests merged in 2023-05, with the labels that each got.

#17 Plugin api
  CodeAnalyzerTool/CAT_API/AnalysisResult.cs
  CodeAnalyzerTool/CAT_API/CAT_API.csproj
  CodeAnalyzerTool/CAT_API/IPlugin.cs
  CodeAnalyzerTool/CAT_API/Location.cs
  CodeAnalyzerTool/CAT_API/Rule.cs
  CodeAnalyzerTool/CAT_API/Severity.cs
  CodeAnalyzerTool/CodeAnalyzerTool.sln
Labels: plugins

#18 Roslyn impl of plugin api
  CodeAnalyzerTool/CodeAnalyzerTool/Program.cs
  CodeAnalyzerTool/RoslynPlugin/Analyzer.cs
  CodeAnalyzerTool/RoslynPlugin/DiagnosticConverter.cs
  CodeAnalyzerTool/RoslynPlugin/RoslynMain.cs
  CodeAnalyzerTool/RoslynPlugin/RoslynPlugin.csproj
Labels: rules, plugins

#19 Configuration set-up
  CodeAnalyzerTool/CAT_API/CAT_API.csproj
  CodeAnalyzerTool/CAT_API/ConfigModel/GlobalConfig.cs
  CodeAnalyzerTool/CAT_API/ConfigModel/PluginConfig.cs
  CodeAnalyzerTool/CAT_API/ConfigModel/RuleConfig.cs
  CodeAnalyzerTool/CAT_API/IPlugin.cs
  CodeAnalyzerTool/CodeAnalyzerTool/CodeAnalyzerTool.csproj
  CodeAnalyzerTool/CodeAnalyzerTool/ConfigModel/PluginConfig.cs
  CodeAnalyzerTool/CodeAnalyzerTool/ConfigModel/RuleConfig.cs
  CodeAnalyzerTool/CodeAnalyzerTool/ConfigModel/ToolConfig.cs
  CodeAnalyzerTool/CodeAnalyzerTool/ConfigReader.cs
  CodeAnalyzerTool/CodeAnalyzerTool/Program.cs
  CodeAnalyzerTool/CodeAnalyzerTool/SchemaGenerator.cs
  CodeAnalyzerTool/RoslynPlugin/RoslynMain.cs
Labels: config

#20 Rule configuration
  CodeAnalyzerTool/CAT_API/AnalysisResult.cs
  CodeAnalyzerTool/CAT_API/CAT_API.csproj
  CodeAnalyzerTool/CAT_API/ConfigModel/PluginConfig.cs
  CodeAnalyzerTool/CAT_API/ConfigModel/RuleConfig.cs
  CodeAnalyzerTool/CAT_API/IPlugin.cs
  CodeAnalyzerTool/CAT_API/Location.cs
  CodeAnalyzerTool/CAT_API/Rule.cs
  CodeAnalyzerTool/CAT_API/Severity.cs
  CodeAnalyzerTool/CodeAnalyzerTool/CodeAnalyzerTool.csproj
  CodeAnalyzerTool/CodeAnalyzerTool/ConfigReader.cs
  CodeAnalyzerTool/CodeAnalyzerTool/Program.cs
  CodeAnalyzerTool/CodeAnalyzerTool/SchemaGenerator.cs
  CodeAnalyzerTool/CodeAnalyzerTool/StringResources.cs
  CodeAnalyzerTool/RoslynPlugin/Analyzer.cs
  CodeAnalyzerTool/RoslynPlugin/DiagnosticConverter.cs
  CodeAnalyzerTool/RoslynPlugin/RoslynMain.cs
  CodeAnalyzerTool/RoslynPlugin/RuleLoader.cs
  CodeAnalyzerTool/RoslynPlugin/StringResources.cs
  CodeAnalyzerTool/RoslynPlugin/rules/TestMethodWithoutAssertionAnalyzer.cs
  ExperimentingWithPluginSystem/BraceAnalyzerPlugin/BraceAnalyzerPlugin/BraceAnalyzer.cs
Labels: config, rules

#22 NamespaceCheckRule finished
  CodeAnalyzerTool/RoslynPlugin/Resources.Designer.cs
  CodeAnalyzerTool/RoslynPlugin/Resources.resx
  CodeAnalyzerTool/RoslynPlugin/StringResources.cs
  CodeAnalyzerTool/RoslynPlugin/rules/NamespaceCheckRule.cs
Labels: rules

#23 Automate Release and publish
  .github/workflows/release-pack-publish.yaml
  CodeAnalyzerTool/CAT_API/CAT_API.csproj
  CodeAnalyzerTool/CodeAnalyzerTool/CodeAnalyzerTool.csproj
  CodeAnalyzerTool/RoslynPlugin_API/RoslynPlugin_API.csproj
Labels: main application

#27 Added licenseCheck external rule
  CodeAnalyzerTool/RoslynPlugin/Resources.Designer.cs
  CodeAnalyzerTool/RoslynPlugin/Resources.resx
  CodeAnalyzerTool/RoslynPlugin/rules/BraceAnalyzer.cs
  CodeAnalyzerTool/RoslynPlugin/rules/NamespaceCheckRule.cs
  CustomRoslynRules/BraceAnalyzerPlugin/BraceAnalyzerPlugin.sln
  CustomRoslynRules/LicenseCheckRule/LicenseCheckRule.sln
  CustomRoslynRules/LicenseCheckRule/LicenseCheckRule/LicenceCheckRule.cs
  CustomRoslynRules/LicenseCheckRule/LicenseCheckRule/LicenseCheckRule.csproj
  CustomRoslynRules/LicenseCheckRule/LicenseCheckRule/Resources.Designer.cs
  CustomRoslynRules/LicenseCheckRule/LicenseCheckRule/Resources.resx
Labels: rules

#59 BackendService PUTEndpoint for tool
  .gitignore
  CodeAnalyzerTool/.dockerignore
  CodeAnalyzerTool/CodeAnalyzerService.Backend/BL/Managers/AddProjectAnalysisManager.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/BL/Services/RuleService.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/CodeAnalyzerService.Backend.csproj
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Controllers/ProjectController.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/DAL/EF/CodeAnalyzerServiceDbContext.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/DAL/EF/Entities/Analysis.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/DAL/EF/Entities/Location.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/DAL/EF/Entities/Project.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/DAL/EF/Entities/Rule.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/DAL/EF/Entities/RuleViolation.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dockerfile
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/AnalysisDto.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/LocationDto.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/Mappers/AnalysisMapper.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/Mappers/LocationMapper.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/Mappers/ProjectMapper.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/Mappers/RuleMapper.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/Mappers/RuleViolationMapper.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/ProjectAnalysisDto.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/ProjectDto.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/RuleDto.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Dtos/RuleViolationDto.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Migrations/20230522082950_InitialCreate.Designer.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Migrations/20230522082950_InitialCreate.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Migrations/CodeAnalyzerServiceDbContextModelSnapshot.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Program.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Properties/launchSettings.json
  CodeAnalyzerTool/CodeAnalyzerService.Backend/appsettings.Development.json
  CodeAnalyzerTool/CodeAnalyzerService.Backend/appsettings.json
  CodeAnalyzerTool/CodeAnalyzerService.Test/CodeAnalyzerService.Test.csproj
  CodeAnalyzerTool/CodeAnalyzerService.Test/ProjectControllerTest.cs
  CodeAnalyzerTool/CodeAnalyzerService.Test/TestDatabaseFixture.cs
  CodeAnalyzerTool/CodeAnalyzerService.Test/Usings.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/CodeAnalyzerTool.API.csproj
  CodeAnalyzerTool/CodeAnalyzerTool.API/ConfigModel/GlobalConfig.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/ConfigModel/PluginConfig.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/ConfigModel/RuleConfig.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/Exceptions/ConfigException.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/IPlugin.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/Location.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/ProjectAnalysis.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/Rule.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/RuleViolation.cs
  CodeAnalyzerTool/CodeAnalyzerTool.API/Severity.cs
  CodeAnalyzerTool/CodeAnalyzerTool.sln
  CodeAnalyzerTool/CodeAnalyzerTool/ConfigReader.cs
  CodeAnalyzerTool/CodeAnalyzerTool/PluginSystem/IPluginLoader.cs
  CodeAnalyzerTool/CodeAnalyzerTool/PluginSystem/Loaders/BuiltinPluginLoader.cs
  CodeAnalyzerTool/CodeAnalyzerTool/PluginSystem/Loaders/ExternalPluginLoader.cs
  CodeAnalyzerTool/CodeAnalyzerTool/PluginSystem/PluginRunner.cs
  CodeAnalyzerTool/CodeAnalyzerTool/Program.cs
  CodeAnalyzerTool/CodeAnalyzerTool/SchemaGenerator.cs
  CodeAnalyzerTool/CodeAnalyzerTool/Util/LogHelper.cs
  CodeAnalyzerTool/RoslynPlugin/Analyzer.cs
  CodeAnalyzerTool/RoslynPlugin/DiagnosticConverter.cs
  CodeAnalyzerTool/RoslynPlugin/RoslynPlugin.cs
  CodeAnalyzerTool/RoslynPlugin/RuleActivator.cs
  CodeAnalyzerTool/RoslynPlugin/RuleLoader.cs
Labels: backend service

#68 Homepage
  CodeAnalyzerTool/CodeAnalyzerService.Backend/Controllers/ProjectController.cs
  CodeAnalyzerTool/CodeAnalyzerService.Backend/DTOs/Response/ProjectOverviewResponse.cs
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/package-lock.json
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/package.json
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/public/index.html
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/src/App.tsx
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/src/components/Home.tsx
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/src/components/Searchbar.tsx
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/src/hooks/useProject.ts
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/src/hooks/useProjectOverview.ts
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/src/model/ProjectOverview.ts
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/src/services/projectService.ts
  CodeAnalyzerTool/CodeAnalyzerService.UI/code-analyzer-service.ui/tsconfig.json
Labels: frontend service
